body{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.container{
  padding : 20px;
}
.red-cont{
  background: #3d4860;
  color: #fff;
  text-align: center;
  padding-bottom: 31px;
}
.red-cont h3{
  font-weight: 600;
  margin-bottom: 0px;
}
.red-cont p{
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}
.red-cont p.tagline{
  font-size: 15px;
  font-weight: 400px;
  font-style: italic;
}
blockquote{
  border-left: 5px solid #3d4860;
}
.progress_container h4{
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #5cb85c;
}
.btn-success, .btn-success:hover{
  background: #31ccb0;
  border-color: #31ccb0;
  padding: 11px 29px;
  margin-top: 15px;
}
.progress_container h4.blue{
  color: #5bc0de;
}
.progress_container h4.yellow{
  color: #f0ad4e;
}
.footer_links{
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #F0EAEA;
  text-align: center;
}

.footer_links a{
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url("../img/social_icons_sm.png") no-repeat;
  text-indent: -9999px;
  margin: 0 5px;
}
.footer_links a.twitter{
  background-position: -29px 0;
}
.footer_links a.github{
  background-position: -57px 0;
}
.footer_links a.wordpress{
  background-position: -86px 0;
}
.footer_links a.linkedin{
  background-position: -114px 0;
}

